# Django Secret Key
DJANGO_SECRET_KEY="django-insecure-#663@$bayatbm)bpz#)1jg-%gpz+#+1pzvo91pyk$%3ddex21r"

# Django Debug Mode: True or False
DJANGO_DEBUG=True

#sender's email-id
EMAIL_HOST_USER="jelambrar@gmail.com" 

#password associated with above email-id (not the regular password)
EMAIL_HOST_PASSWORD="your_email_host_password"
