# Django Secret Key
DJANGO_SECRET_KEY="your_django_secret_key"

# Django Debug Mode: True or False
DJANGO_DEBUG=True

#sender's email-id
EMAIL_HOST_USER="your_email_host_user" 

#password associated with above email-id (not the regular password)
EMAIL_HOST_PASSWORD="your_email_host_password"
