# Django Secret Key
DJANGO_SECRET_KEY="your_django_secret_key"

# Django Debug Mode: True or False
DJANGO_DEBUG=True

# Firebase Configuration
FIREBASE_CREDENTIALS_FILE="your_firebase_credentials_file"
FIREBASE_BUCKET_NAME="your_firebase_bucket_name"
